registry=https://registry.npmmirror.com
strict-peer-dependencies=false
auto-install-peers=true

canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas/
gl-binary-host-mirror=http://npmmirror.com/mirrors/gl/v{version}

public-hoist-pattern[]=dayjs
public-hoist-pattern[]=@arco-design/web-vue
public-hoist-pattern[]=@iconify/utils
public-hoist-pattern[]=ajv
public-hoist-pattern[]=gl
